body {
    display: flex;
    justify-content: center;
    background-color: #a2a2a2;
    caret-color: transparent;
  }
  
  #timer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: #fff5f5;
    height: 70%;
    margin-top: 10vh;
    font-family: "Helvetica";
    color: #471515;
    border: solid;
    padding: 30px 55px;
    width: 370px;
  }
  
  #top {
    display: flex;
    justify-content: center;
  }
  
  #label {
    background-color: #ff4a4a33;
    border: solid 2px;
    border-radius: 50px;
    padding: 3px 8px;
  }
  
  #time h2 {
    font-size: 180px;
    height: 160px;
    margin-bottom: 30px;
    font-weight: normal;
  }
  
  #controls {
    display: flex;
    justify-content: center;
  }
  
  #play {
    background-color: #ff4c4cbb;
    padding: 20px 5px;
    width: 90px;
  }
  
  .control,
  #play {
    padding: 20px 22px;
    border-radius: 20px;
    margin: 7px;
    cursor: pointer;
  }
  
  .control {
    background-color: #ff4a4a23;
  }
  
  .control:hover,
  #play:hover {
    filter: contrast(300%);
  }
  
  #play:hover {
    color: white;
  }
  
  #popup {
    max-width: 360px;
    width: 100%;
    height: auto;
    background-color: #fff5f5;
    padding: 20px;
    border-radius: 23px;
    box-shadow: 0px 0px 10px #00000080;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    font-weight: bold;
  }
  
  #popup-top {
    display: flex;
    justify-content: space-between;
  }
  
  #popup h3 {
    font-weight: bolder;
    margin-bottom: 20px;
  }
  
  .fa-xmark {
    margin-top: 9px;
    cursor: pointer;
  }
  
  .options {
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
  }
  
  .change{
    width: 65px;
    border-radius: 8px;
    border: solid 1px #00000055;
    background: none;
    padding: 5px;
    color: #471515;
    font-weight: bold;
  }
  
  #toggle-dark{
    width: 40px;
    height: 20px;
    margin-right: 10px;
  }